
# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Build and Push Docker image

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-python:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Build and Push Docker Image
      uses: mr-smithers-excellent/docker-build-push@v5
      with:
        image: 8447756042/livedemo
        tags: v1, latest
        registry: docker.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
    - name: Start container
      run: docker run  -p 5001:5001 -d 8447756042/livedemo:latest
      
    - name:  check container status
      run: docker container ps -a
      
    - name: Set up secret file
      env:
        username: ${{ secrets.DOCKER_USERNAME }}
      run: |
        echo $username >> secrets.txt
        
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
